<article>
    <h1>Push-Up-o-meter.<br/>
        <small><em>For those who push!</em></small>
    </h1>

    <section>
        <ul class="users">
            <li>
                <a class="username" href="https://github.com/besuhoff">
                    <img class="avatar" src="https://avatars2.githubusercontent.com/u/6132126?v=3" width="128" height="128">
                    besuhoff
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">519</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity green">38</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">557</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/chrisdebruin">
                    <img class="avatar" src="https://avatars0.githubusercontent.com/u/289727?v=3" width="128" height="128">
                    chrisdebruin
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">40</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity">0</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">40</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/besuhoff">
                    <img class="avatar" src="https://avatars2.githubusercontent.com/u/6132126?v=3" width="128" height="128">
                    besuhoff
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">519</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity green">38</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">557</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/chrisdebruin">
                    <img class="avatar" src="https://avatars0.githubusercontent.com/u/289727?v=3" width="128" height="128">
                    chrisdebruin
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">40</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity">0</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">40</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/besuhoff">
                    <img class="avatar" src="https://avatars2.githubusercontent.com/u/6132126?v=3" width="128" height="128">
                    besuhoff
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">519</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity green">38</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">557</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/chrisdebruin">
                    <img class="avatar" src="https://avatars0.githubusercontent.com/u/289727?v=3" width="128" height="128">
                    chrisdebruin
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">40</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity">0</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">40</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/besuhoff">
                    <img class="avatar" src="https://avatars2.githubusercontent.com/u/6132126?v=3" width="128" height="128">
                    besuhoff
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">519</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity green">38</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">557</span></span></li>
                </ul>

            </li>
            <li>
                <a class="username" href="https://github.com/chrisdebruin">
                    <img class="avatar" src="https://avatars0.githubusercontent.com/u/289727?v=3" width="128" height="128">
                    chrisdebruin
                </a>
                <ul class="stats">
                    <li><span><i class="icon icon-pushup"></i> <span class="quantity red">40</span></span> <a href="">punish!</a></li>
                    <li><span><i class="icon icon-check"></i> <span class="quantity">0</span></span>  <a href="">workout</a></li>
                    <li><span><i class="icon icon-sigma"></i> <span class="quantity">40</span></span></li>
                </ul>

            </li>
        </ul>
    </section>
</article>